body {
	font-family: serif;
	text-align: center;
	color: white;
	background-color: #59635F;
}

h1 {
	margin-top: 48px;
	margin-bottom: 48px;
}

button {
	height: 48px;
	width: 250px;
	font-size: 24px;
	color: black;
	background-color: #D3E0DA;
	font-family: serif;
}
